importFrom("aqp", SoilProfileCollection)
importFrom("gstat", gstat)
importFrom("stats", prcomp, predict)
importFrom("methods", as)
importFrom("sp", SpatialPolygons, SpatialPointsDataFrame, overlay)
importFrom("raster", extract)
importFrom("plotKML", parse_proj4, vect2rast, paths, reproject.SpatialGrid)
importClassesFrom("sp", SpatialPointsDataFrame, SpatialPixelsDataFrame, SpatialPolygons, CRS)
importClassesFrom("plotKML", SpatialPredictions, RasterBrickSimulations, SpatialMaxEntOutput)
exportClasses(geosamples, WPS, SpatialComponents, gstatModel, GlobalSoilMap)
exportMethods(as.data.frame.default, mpspline, as.geosamples, getID, getProcess, describe, spc, fit.gstatModel, spfkm, spmultinom, make.3Dgrid, subset.default, write.data)
exportPattern("^[^\\.]")