importFrom("aqp", SoilProfileCollection)
importFrom("gstat", gstat)
importFrom("stats", prcomp)
importFrom("methods", as)
importFrom("sp", SpatialPolygons, SpatialPointsDataFrame, overlay)
importFrom("raster", extract)
importClassesFrom("plotKML", SpatialPredictions, RasterBrickSimulations)
exportClasses(geosamples, WPS, SpatialComponents, gstatModel, GlobalSoilMap)
exportMethods(as.data.frame.default, mpspline, as.geosamples, getID, getProcess, describe, spc, fit.gstatModel)
exportPattern("^[^\\.]")